/* 타입 선택자 (띄어쓰기를 했을 때 적용이 되지 않는다)*/
Label{
    -fx-font-size:16px;
}
/* #은 fxml파일내의 id속성을 의미한다 (id선택자)*/
#labelId{
    -fx-background-color:red;
    -fx-text-fill:pink;
}
/* .은 fxml파일내의 class를 의미한다 (class선택자)*/
.labelClass{
    -fx-background-color:blue;
    -fx-text-fill:yellow;
}
PasswordField:focused{
    -fx-border-color:yellow;
    -fx-background-color:red;
}
/*포커스를 받으면*/
TextField:focused{
    -fx-border-color:yellow;
    -fx-background-color:red;
}
/*영역 안으로 들어오면*/
Button:hover{
    -fx-background-color:yellow;
    -fx-text-fill:skyblue;
}
/*눌려지면*/
Button:pressed{
    -fx-background-color:orange;
    -fx-text-fill:pink;
}

